<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sophie.sophiemall.seckill.reservation.mapper.SeckillReservationConfigMapper">
    <resultMap id="baseResultMap" type="io.binghe.seckill.reservation.domain.model.entity.SeckillReservationConfig">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="reserve_max_user_count" property="reserveMaxUserCount" jdbcType="INTEGER"/>
        <result column="reserve_current_user_count" property="reserveCurrentUserCount" jdbcType="INTEGER"/>
        <result column="reserve_start_time" property="reserveStartTime" jdbcType="TIMESTAMP"/>
        <result column="reserve_end_time" property="reserveEndTime" jdbcType="TIMESTAMP"/>
        <result column="seckill_start_time" property="seckillStartTime" jdbcType="TIMESTAMP"/>
        <result column="seckill_end_time" property="seckillEndTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, goods_id, goods_name, reserve_max_user_count, reserve_current_user_count, reserve_start_time, reserve_end_time, seckill_start_time, seckill_end_time, status
    </sql>

    <insert id="saveSeckillReservationConfig" parameterType="io.binghe.seckill.reservation.domain.model.entity.SeckillReservationConfig">
        insert into seckill_reservation_config ( <include refid="Base_Column_List"/> )
        values (#{id}, #{goodsId}, #{goodsName}, #{reserveMaxUserCount}, #{reserveCurrentUserCount}, #{reserveStartTime}, #{reserveEndTime}, #{seckillStartTime}, #{seckillEndTime}, #{status})
    </insert>

    <update id="updateSeckillReservationConfig" parameterType="io.binghe.seckill.reservation.domain.model.entity.SeckillReservationConfig">
        update
            seckill_reservation_config
        set
            goods_id = #{goodsId},
            goods_name = #{goodsName},
            reserve_max_user_count = #{reserveMaxUserCount},
            reserve_current_user_count = #{reserveCurrentUserCount},
            reserve_start_time = #{reserveStartTime},
            reserve_end_time = #{reserveEndTime},
            seckill_start_time = #{seckillStartTime},
            seckill_end_time = #{seckillEndTime},
            status = #{status}
        where
            id = #{id}
    </update>

    <update id="updateStatus">
        update
            seckill_reservation_config
        set
            status = #{status}
        where
            goods_id = #{goodsId}
    </update>

    <update id="updateReserveCurrentUserCount">
        update
            seckill_reservation_config
        set
            reserve_current_user_count = #{reserveCurrentUserCount}
        where
            goods_id = #{goodsId}
    </update>

    <select id="getConfigList" resultMap="baseResultMap">
        select <include refid="Base_Column_List"/> from seckill_reservation_config
    </select>

    <select id="getConfigDetail" resultMap="baseResultMap">
        select <include refid="Base_Column_List"/> from seckill_reservation_config where goods_id = #{goodsId}
    </select>

</mapper>